.avatar {
	border: 5px white solid;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
}

@media screen and (max-height: 850px) {
  .landing {
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%) !important;
  }
}

@media screen and (max-height: 850px) and (orientation: landscape) {
  .profile-card {
    padding: 8em 0;
  }

  .landing {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.landing {
  overflow: hidden;
  width: 100% !important;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.profile-card {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
  background-color: black;
  border-radius: 9px;
  top: 50%;
}

.profile-card header {
  opacity: 0;
  animation: moveIn 0.7s 0.1s ease forwards;
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
}